<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Password" value="thisisbad" /> <!-- Noncompliant {{Review the hard-coded credential, which may be sensitive.}} -->
<!--    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
        <add key="color" value="blue" />
        <add key="password" value="thisisbadtoo" /> <!-- Noncompliant {{Review the hard-coded credential, which may be sensitive.}} -->
<!--    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
        <add key="password" />
        <add something="else" /> <!-- Just for coverage, not a valid config. -->
        <clear />
        <remove key="Password" />  <!-- Should not raise -->
        <add key="passwd" value="other word" /> <!-- Noncompliant {{Review the hard-coded credential, which may be sensitive.}} -->
<!--    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
        <clear />
        <remove key="Password" />
    </appSettings>
</configuration>
