<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Password" value="thisisbad" /> <!-- Noncompliant -->
        <add key="color" value="blue" />
        <add key="password" value="thisisbadtoo" /> <!-- Noncompliant -->
        <add key="password" />
        <add something="else" />
    </appSettings>
</configuration>
