<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.myapp">

  <!-- Noncompliant@+1 {{Make sure the use of "android.permission.ACCEPT_HANDOVER" permission is necessary.}} -->
  <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
  <!--             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

  <!-- Noncompliant@+1 {{Make sure the use of "android.permission.ACCESS_BACKGROUND_LOCATION" permission is necessary.}} -->
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <!--             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

  <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.BATTERY_STATS" />
  <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
  <uses-permission android:name="android.permission.BIND_APPWIDGET" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.BIND_AUTOFILL_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CALL_REDIRECTION_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_CLIENT_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CARRIER_SERVICES" />
  <uses-permission android:name="android.permission.BIND_CHOOSER_TARGET_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CONDITION_PROVIDER_SERVICE" />
  <uses-permission android:name="android.permission.BIND_CONTROLS" />
  <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
  <uses-permission android:name="android.permission.BIND_DREAM_SERVICE" />
  <uses-permission android:name="android.permission.BIND_INCALL_SERVICE" />
  <uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
  <uses-permission android:name="android.permission.BIND_MIDI_DEVICE_SERVICE" />
  <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
  <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
  <uses-permission android:name="android.permission.BIND_PRINT_SERVICE" />
  <uses-permission android:name="android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE" />
  <uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />
  <uses-permission android:name="android.permission.BIND_REMOTEVIEWS" />
  <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE" />
  <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
  <uses-permission android:name="android.permission.BIND_TEXT_SERVICE" />
  <uses-permission android:name="android.permission.BIND_TV_INPUT" />
  <uses-permission android:name="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE" />
  <uses-permission android:name="android.permission.BIND_VOICE_INTERACTION" />
  <uses-permission android:name="android.permission.BIND_VPN_SERVICE" />
  <uses-permission android:name="android.permission.BIND_VR_LISTENER_SERVICE" />
  <uses-permission android:name="android.permission.BIND_WALLPAPER" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.BROADCAST_SMS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.CALL_COMPANION_APP" />
  <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.CALL_PRIVILEGED" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.CAMERA" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
  <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
  <uses-permission android:name="android.permission.DELETE_PACKAGES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.DIAGNOSTIC" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.DUMP" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
  <uses-permission android:name="android.permission.FACTORY_TEST" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
  <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.GLOBAL_SEARCH" />
  <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.INSTALL_PACKAGES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
  <uses-permission android:name="android.permission.LOADER_USAGE_STATS" />
  <uses-permission android:name="android.permission.LOCATION_HARDWARE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
  <uses-permission android:name="android.permission.MASTER_CLEAR" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.NFC" />
  <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
  <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
  <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.READ_CALENDAR" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_INPUT_STATE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_SMS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.READ_SYNC_STATS" />
  <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL" />
  <uses-permission android:name="android.permission.REBOOT" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECEIVE_MMS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.REORDER_TASKS" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY" />
  <uses-permission android:name="android.permission.RESTART_PACKAGES" />
  <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
  <uses-permission android:name="android.permission.SET_ALWAYS_FINISH" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_DEBUG_APP" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
  <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_TIME" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_TIME_ZONE" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SET_WALLPAPER" />
  <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
  <uses-permission android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SMS_FINANCIAL_TRANSACTIONS" />
  <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE" />
  <uses-permission android:name="android.permission.STATUS_BAR" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.TRANSMIT_IR" />
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
  <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <uses-permission android:name="android.permission.USE_SIP" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Noncompliant --> <!-- dangerous -->
  <uses-permission android:name="android.permission.WRITE_GSERVICES" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />  <!-- Noncompliant --> <!-- Should not be used by third-party applications -->
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL" />

</manifest>
