<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.myapp">
  <uses-sdk android:minSdkVersion="28" />

  <!-- Noncompliant@+1 {{Make sure allowing clear-text traffic is safe here.}} -->
    <application android:usesCleartextTraffic="true">
<!-- ^^^^^^^^^^^ -->
    </application>

  <!-- Compliant: min version is 28, only report an issue when the flag is explicitly set -->
  <application>
  </application>

</manifest>
