<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.myapp">

  <!-- Noncompliant@+1 {{Make sure allowing clear-text traffic is safe here.}} -->
    <application android:usesCleartextTraffic="true">
<!-- ^^^^^^^^^^^ -->
    </application>

  <!-- Noncompliant@+1 {{"usesCleartextTraffic" is implicitly enabled for older Android versions. Make sure allowing clear-text traffic is safe here.}} -->
    <application>
    </application>

  <!-- Compliant -->
  <application android:usesCleartextTraffic="false">
  </application>

  </manifest>
