<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms name="customer_login" timeout="30" loginUrl="~/WebGoatCoins/CustomerLogin.aspx" requireSSL="false" protection="All" path="/">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin" /> <!-- Noncompliant {{"password" detected here, make sure this is not a hard-coded credential.}} -->
                         <!--^^^^^^^^^^^^^^^^ -->
          <user name="mario" password="luigi" /> <!-- Noncompliant -->
          <user name="bob" password="password" /><!-- Noncompliant -->
          <user name="admin" password="_AdminPassword_" /> <!-- Noncompliant -->
          <user name="admin" password="__AdminPassword__" /> <!-- Compliant -->
          <user name="admin" password="__AdminPassword__smth" /> <!-- Noncompliant -->

          <user name="admin" password="__" /> <!-- Noncompliant -->
          <user name="admin" password="___" /> <!-- Noncompliant -->
          <user name="admin" password="____" /> <!-- Compliant -->
          <user name="admin" password="" /> <!-- Compliant -->
        </credentials>
      </forms>
    </authentication>

    <authentication mode="Forms">
      <forms name="customer_login" timeout="30" loginUrl="~/WebGoatCoins/CustomerLogin.aspx" requireSSL="false" protection="All" path="/">
        <credentials passwordFormat="SHA1">
        <user name="admin" password="5ed25af7b1ed23fb00122e13d7f74c4d8262acd8" /> <!-- Compliant -->
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>