<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.myapp">

  <permission android:name="com.example.custom.dangerous.permission"
              android:description="@string/perm_desc_custom_dangerous_permission"
              android:label="@string/perm_label_custom_dangerous_permission"
              android:protectionLevel="dangerous" />

  <permission android:name="com.example.custom.normal.permission"
              android:description="@string/perm_desc_custom_normal_permission"
              android:label="@string/perm_label_custom_normal_permission"
              android:protectionLevel="normal" />

  <application>

    <!-- activities, services and providers(since Android 4.2) are not exported by default and safe -->

    <activity android:name="com.example.activity1">
    </activity>

    <service android:name="com.example.service1">
    </service>

    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB">
    </provider>

    <!-- explicitly not exported contents are always safe -->

    <activity android:name="com.example.activity1"
              android:exported="false">
    </activity>

    <service android:name="com.example.service1"
             android:exported="false">
    </service>

    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB"
              android:exported="false">
    </provider>

    <!-- exported contents with explicit read and write permissions is compliant -->

    <activity android:name="com.example.activity1"
              android:exported="true"
              android:permission="com.example.custom.dangerous.permission">
    </activity>

    <service android:name="com.example.service1"
             android:exported="true"
             android:readPermission="com.example.custom.normal.permission"
             android:writePermission="com.example.custom.dangerous.permission">
    </service>

    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB"
              android:exported="true"
              android:permission="com.example.custom.normal.permission"
              android:writePermission="com.example.custom.dangerous.permission">
    </provider>

    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB"
              android:exported="true"
              android:readPermission="com.example.custom.normal.permission"
              android:permission="com.example.custom.dangerous.permission">
    </provider>

    <!-- exported contents without explicit permissions is non-compliant -->

    <!-- Noncompliant@+1 {{Implement permissions on this exported component.}} -->
    <activity android:name="com.example.activity1" android:exported="true">
<!-- ^^^^^^^^ -->
    </activity>

    <!-- Noncompliant@+1 -->
    <service android:name="com.example.service1" android:exported="true">
<!-- ^^^^^^^ -->
    </service>

    <!-- Noncompliant@+1 -->
    <provider android:name="com.example.provider1" android:authorities="com.example.searchDB" android:exported="true">
<!-- ^^^^^^^^ -->
    </provider>

    <!-- even with grantUriPermissions the permission should be set -->

    <!-- Noncompliant@+1 -->
    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB"
              android:exported="true"
              android:grantUriPermissions="true">
    </provider>

    <!-- exported contents without read or without write permission is non-compliant -->

    <!-- In practise, there is no readPermission in activity, but supported anyway -->
    <!-- Noncompliant@+1 -->
    <activity android:name="com.example.activity1"
              android:exported="true"
              android:readPermission="com.example.custom.dangerous.permission">
    </activity>

    <!-- Noncompliant@+1 -->
    <service android:name="com.example.service1"
             android:exported="true"
             android:writePermission="com.example.custom.dangerous.permission">
    </service>

    <!-- Noncompliant@+1 -->
    <provider android:name="com.example.provider1"
              android:authorities="com.example.searchDB"
              android:exported="true"
              android:writePermission="com.example.custom.dangerous.permission">
    </provider>

    <!-- intent-filter export the content by default -->

    <!-- Noncompliant@+1 -->
    <activity android:name="com.example.activity1">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!-- Noncompliant@+1 -->
    <service android:name="com.example.service1">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.START_BACKGROUND"/>
      </intent-filter>
    </service>

    <!-- Compliant with permission -->
    <activity android:name="com.example.activity1"
              android:permission="com.example.custom.dangerous.permission">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!--  Compliant -->
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Service without action element should not be reported as well (Should not even be possible) -->
    <service android:name="com.example.service1">
      <intent-filter>
      </intent-filter>
    </service>

    <!-- android:exported="false" and intent-filter combined will always throw a ActivityNotFoundException, but we consider it compliant -->
    <activity android:name="com.example.activity1"
              android:exported="false">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!-- activity-alias (https://developer.android.com/guide/topics/manifest/activity-alias-element) -->
    <!-- Contains a targetActivity attribute referring to an activity. -->
    <!-- Rephrasing the doc: the attributes of the activity are inherited in the alias only if it is not possible to -->
    <!-- override them (the alias does not contain the attribute). -->
    <!-- It means that from a rule perspective, the activity-alias behaves independently from the target activity -->
    <!-- (exported and permission are not carried over from the activity to the alias). -->
    <!-- Note: there is no readPermission in activity and activity-alias -->

    <activity android:name="activity.with.alias">
    </activity>

    <!-- Not exported by default -->
    <activity-alias android:name="alias1"
                    android:targetActivity="activity.with.alias">
    </activity-alias>

    <!-- Explicitly set as not exported -->
    <activity-alias android:name="alias2"
                    android:targetActivity="activity.with.alias"
                    android:exported="false">
    </activity-alias>

    <!-- Exported, but with permissions -->
    <activity-alias android:name="alias3"
                    android:targetActivity="activity.with.alias"
                    android:exported="true"
                    android:permission="com.example.custom.dangerous.permission">
    </activity-alias>

    <!-- Exported, without permission -->
    <!-- Noncompliant@+1 {{Implement permissions on this exported component.}} -->
    <activity-alias android:name="alias4" android:targetActivity="activity.with.alias" android:exported="true">
<!-- ^^^^^^^^^^^^^^ -->
    </activity-alias>

    <!-- Activity is compliant when an intent-filter doesn't contain an action element (possible when using an alias) -->
    <!-- If there is an issue, it will be reported on the alias -->
    <activity android:name="activity.with.alias.with.filter">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <!-- Noncompliant@+1 -->
    <activity-alias android:name="alias5"
                    android:targetActivity="activity.with.alias.with.filter">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity-alias>
    <!-- Compliant, alias with compliant action (action.MAIN) -->
    <activity-alias
            android:name="alias6"
            android:targetActivity="activity.with.alias.with.filter">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <!-- Compliant, even when exported=true, empty intent-filter without action are still compliant, the issue (if any) will be reported on the alias -->
    <activity android:name="activity.with.alias.with.filter2" android:exported="true">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity-alias
            android:name="alias7"
            android:targetActivity="activity.with.alias.with.filter2">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <!-- Permission on the activity are not carried over to the alias, it has to redefine it itself -->
    <activity android:name="activity.with.alias.with.permission"
              android:permission="com.example.custom.dangerous.permission">
    </activity>
    <!-- Noncompliant@+1 -->
    <activity-alias
            android:name="alias8"
            android:targetActivity="activity.with.alias.with.permission">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
            android:name="alias9"
            android:targetActivity="activity.with.alias.with.permission"
            android:permission="com.example.custom.dangerous.permission">
      <intent-filter>
        <action android:name="com.example.vulnerableApp.OPEN_UI"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <!-- Exported flag on the activity is not carried over to the alias -->
    <!-- and permission on the alias is not applied to the activity -->
    <!-- Noncompliant@+1 -->
    <activity android:name="activity.with.alias.with.exported"
              android:exported="true">
    </activity>
    <activity-alias
            android:name="alias10"
            android:targetActivity="activity.with.alias.with.exported">
    </activity-alias>
    <activity-alias
            android:name="alias11"
            android:targetActivity="activity.with.alias.with.exported"
            android:permission="com.example.custom.dangerous.permission">
    </activity-alias>

    <!-- Activity and alias without action. Should not be possible, in doubt, do not raise an issue -->
    <activity android:name="activity.with.alias.without.action">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity-alias android:name="alias12"
                    android:targetActivity="activity.with.alias.without.action">
      <intent-filter>
      </intent-filter>
    </activity-alias>

    <!-- We suppose that intent-filter is not inherited from parent activity -->
    <activity android:name="activity.with.alias.with.filter3" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- Noncompliant@+1 -->
    <activity-alias
            android:name="alias13"
            android:targetActivity="activity.with.alias.with.filter3"
            android:exported="true">
    </activity-alias>

  </application>
</manifest>
