<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms name="customer_login" timeout="30" loginUrl="~/WebGoatCoins/CustomerLogin.aspx" requireSSL="false" protection="All" path="/">
        <credentials passwordFormat="Clear">  <!-- Noncompliant {{Passwords should not be stored in plain text.}} -->
<!--                 ^^^^^^^^^^^^^^^^^^^^^^ -->
          <user name="bob" password="password" />
        </credentials>
        <credentials passwordFormat="cLeAr">  <!-- Noncompliant {{Passwords should not be stored in plain text.}} -->
<!--                 ^^^^^^^^^^^^^^^^^^^^^^ -->
          <user name="bob" password="password" />
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>
