<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.myapp">
  <uses-sdk android:minSdkVersion="23"
            android:maxSdkVersion="28" />

  <!-- Noncompliant@+1 {{Make sure allowing clear-text traffic is safe here.}} -->
    <application android:usesCleartextTraffic="true">
<!-- ^^^^^^^^^^^ -->
    </application>

  <!-- Noncompliant@+1 {{"usesCleartextTraffic" is implicitly enabled for older Android version.Make sure allowing clear-text traffic is safe here.}} -->
    <application>
      <!-- Range include version 24-27, where the default value is true, report an issue.-->
    </application>

  </manifest>
