<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="102400" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders> <!-- Noncompliant {{MIME sniffing is a risk when large HTTP request bodies are allowed. Set the "X-Content-Type-Options" response header to "nosniff" under httpProtocol/customHeaders.}} -->
<!--   ^^^^^^^^^^^^^ -->
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
