<configuration>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms>
        <credentials passwordFormat="Clear">
          <user name="admin" password="hkg8s0Cx8ehH" />
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>
