<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders> <!-- Noncompliant {{Set the "X-Content-Type-Options" HTTP header to "nosniff" to mitigate MIME Confusion Attacks.}} -->
<!--   ^^^^^^^^^^^^^ -->
        <add name="X-Content-Type-Options" value="yes"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
