<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders> <!-- Noncompliant {{Global <httpCookies> tag is missing or its 'httpOnlyCookies' attribute is not set to true.}} -->
<!--   ^^^^^^^^^^^^^ -->
        <add name="X-Content-Type-Options" value="yes"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
