name: Update Rule Metadata

on: workflow_dispatch

jobs:
  update-rule-metadata:
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Update Rule Metadata
        id: update-rule-metadata
        uses: SonarSource/release-github-actions/update-rule-metadata@master
        with:
          labels: ''
          rspec-token-suffix: 'rspec'
          post-update:
            java -jar rule-api.jar generate -rule XPathCheck
            cp sonar-xml-plugin/src/main/resources/org/sonar/l10n/xml/rules/xml/S140.html sonar-xml-plugin/src/main/resources/org/sonar/l10n/xml/rules/xml/XPathCheck.html
            cp sonar-xml-plugin/src/main/resources/org/sonar/l10n/xml/rules/xml/S140.json sonar-xml-plugin/src/main/resources/org/sonar/l10n/xml/rules/xml/XPathCheck.json
